<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is website</title>
</head>
<body>
    <h1>this is website</h1>

    <a href="fjsdakojnfkojdjf">link</a>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ipsam in amet labore explicabo id totam ipsum, asperiores quas maxime ad. Beatae perspiciatis aut assumenda inventore ipsa officia fugit eius!</p>


    <div>
    <span>this is text </span>
    <span>this is text</span>

    <button>click me</button><input type="text" placeholder="enter text here">

    <a href="https://www.youtube.com/watch?v=ViRoyWRMcHA&list=RDLJbzUenGq4A&index=17" target="_blank">new link</a>
    </div>

<div>

    
<ul >

 <li>list:1</li>
<li>list:1</li>
 <li>list:1</li>

</ul>

</div>

<h1>ol liste</h1>

<div>
  <ol>
    <li>first item</li>
    <li>second item</li>
    <ul>
        <li>sub item 1</li>
        <li>sub item 2</li>
    </ul>
    <li>third item</li>
  </ol>
</div>

<div>

    <p><b>this is h2 heading</b></p>
    <p><strong>this is h3 heading</strong></p>
    <p>this <i>is h4 heading</i></p>
    <p>this <em>is h5 heading</em></p>
    <p>this <span>is h6 heading</span></p>

</div>


<blockquote>
  
    <q> magnam</q>  eaque   repellendus  <br>  <br>         <del>  doloremque</del>  <br>  <br>   <ins>  beatae</ins>   <br>  <br>   <mark>  facilis</mark>   <br>  <br>   <u>  veritatis</u>   <br>  <br>
    sint  <small>  adipisci</small>   <br>  <br>   aliquid  <sub>  perferendis</sub>   <br>  <br>   commodi  <sup>  laboriosam</sup>   <br>  <br>   .
</blockquote>

<p>this is code: <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur a voluptas quas quae blanditiis aut, recusandae sit rerum suscipit? Ipsum obcaecati inventore voluptatibus possimus,<q> magni iste voluptatem sint reprehenderit </q>  saepe.</blockquote></p>









</body>
</html>