<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is website</title>
</head>
<body>
    <h1>this is website</h1>

    <a href="fjsdakojnfkojdjf">link</a>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ipsam in amet labore explicabo id totam ipsum, asperiores quas maxime ad. Beatae perspiciatis aut assumenda inventore ipsa officia fugit eius!</p>


    <div>
    <span>this is text </span>
    <span>this is text</span>

    <button>click me</button><input type="text" placeholder="enter text here">

    <a href="https://www.youtube.com/watch?v=ViRoyWRMcHA&list=RDLJbzUenGq4A&index=17" target="_blank">new link</a>
    </div>

<div>

    
<ul >

 <li>list:1</li>
<li>list:1</li>
 <li>list:1</li>

</ul>

</div>

<h1>ol liste</h1>

<div>
  <ol>
    <li>first item</li>
    <li>second item</li>
    <ul>
        <li>sub item 1</li>
        <li>sub item 2</li>
    </ul>
    <li>third item</li>
  </ol>
</div>

<div>

    <p><b>this is h2 heading</b></p>
    <p><strong>this is h3 heading</strong></p>
    <p>this <i>is h4 heading</i></p>
    <p>this <em>is h5 heading</em></p>
    <p>this <span>is h6 heading</span></p>

</div>


<blockquote>
  
    <q> magnam</q>  eaque   repellendus  <br>  <br>         <del>  doloremque</del>  <br>  <br>   <ins>  beatae</ins>   <br>  <br>   <mark>  facilis</mark>   <br>  <br>   <u>  veritatis</u>   <br>  <br>
    sint  <small> ipisci</small>   <br>  <br>   aliquid  <sub>  perferendis</sub>   <br>  <br>   commodi  <sup>  laboriosam</sup>   <br>  <br>   .
</blockquote>

<p>this is code: <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur a voluptas quas quae blanditiis aut, recusandae sit rerum suscipit? Ipsum obcaecati inventore voluptatibus possimus,<q> magni iste voluptatem sint reprehenderit </q>  saepe.</blockquote></p>

<br>
<br>



<pre>
my name is John Doe
I am a web developer



      I love coding
        I love coffee


    function greet() {
        console.log("Hello, World!");
    }



</pre>



<img src="https://media.istockphoto.com/id/2250179074/photo/portrait-of-a-young-black-man-wearing-a-hat-against-a-bright-orange-background-showcasing-a.webp?s=2048x2048&w=is&k=20&c=IIVffOowXLWzSK48iCJmjwun4nQddTwaBiGRxFSYQh8=" alt="this is image"  width="800px" height="300px">

<table border="1">

<tr>
  <th rowspan="4">Header all</th>
  <th>Header 1</th>
 <th colspan="2">Header 2</th>
  <th>Header 3</th>
</tr>

<tr>
    <td >Row 1, Cell 1</td>
    <td>Row 1, Cell 2</td>
    <td>Row 1, Cell 3</td>
</tr>


<tr>
    <td colspan="2">Row 2, Cell 1</td>
    <td>Row 2, Cell 2</td>
    <td>Row 2, Cell 3</td>
</tr>

<tr style="height:200px">
    <td>Row 3, Cell 1</td>
    <td>Row 3, Cell 2</td>
    <td>Row 3, Cell 3</td>
</tr>



</table>




<br>

<br>








<div>

<h1 style="background-color: red; padding: 20px;">Calender</h1>


<table border="1px solid black" style=" border-collapse: collapse;">

 <tr>

 <th style="padding: 10px;">sunday</th>
 <th style="padding: 10px;">monday</th>
 <th style="padding: 10px;">tuesday</th>
 <th style="padding: 10px;">wednesday</th>
 <th style="padding: 10px;">thursday</th>
 <th style="padding: 10px;">friday</th>

 <th>saturday</th>

 </tr>
 
 <tr>
    <td></td>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  

 </tr>

<tr>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
   
</tr>

<tr>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td>17</td>
    <td>18</td>
    <td>19</td>
    
</tr>


<tr>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
 
</tr>

<tr>
    <td>27</td>
    <td>28</td> 
    <td>29</td>
    <td>30</td>
    <td colspan="3">31</td>
 
   
</tr>





</table>










</div>






<div>

<h2>Form Example</h2>
 
<form action="">

<label for="fname">First Name:</label>
<input type="text" id="fname" name="fname" placeholder="Enter your first name"><br><br>
<label for="lname">Last Name:</label>
<input type="text" id="lname" name="lname" placeholder="Enter your last name"><br><br>
<label for="email">Email:</label>
<input type="text" id="email" name="email" placeholder="Enter your email address"><br><br>
<label for="password">Password</label>
<input type="text" id="password"name="password" placeholder="Enter your password"><br><br>
<label for="date">Date of Birth:</label>
 <input type="date" id="date" name="date" placeholder="Enter your date of birth"><br><br>
 <label for="chakbox">Mail</label>
 <input type="checkbox" id="chakbox" name="chakbox"> 
 <label for="chakbox">femail</label>
 <input type="checkbox" id="chekbox" name="chakbox"><br><br> 
 <label for="file">profile pc</label>
 <input type="file" id="file" name="file"><br><br>
 <label for="radio">just ans whit me yes and no </label>
 <input type="radio" id="radio" name="radio" value="radio">













</form>


















</div>


















</body>
</html>